:root {
  width: 100%;
  background-color: #CDF5FD;
  overflow-x: hidden;

}

*{
  padding: 0;
  margin:0 ;
  box-sizing: border-box
}

.textSpan{
  font-family: "Plaster",sans-serif;
  font-style:"normal";
  -webkit-font-smoothing:antialiased;
}

::-webkit-scrollbar-thumb{
  background-color:cyan;
  -webkit-border-radius:16px
}

@tailwind base;
@tailwind components;
@tailwind utilities;
